/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*common*/
body{
    font-family: 'Roboto', sans-serif;
    background-color:#F6F8F9 ;
    text-decoration:none;
}
.paging1{
    background-color: #fff;
    border-bottom: 2px solid #F6F8F9;
    width: 70%;
    margin: 0 auto;
    padding: 0.5rem 3rem;
    border-radius: 10px 10px 0px 0px;
}
.paging{
    background-color: #fff;
    width: 70%;
    margin: 0 auto;
    padding: 1.5rem 3rem;
    border-radius: 0px 0px 10px 10px;
}
.btn{
    border: none;
    background-color: #fff;
}
input{
    cursor: pointer;
    
}
.section-container li{
    list-style-type: none;
    font-weight: 900;
    font-size: 25px;
}
.section-container a {
    text-decoration: none;
    color: black;
}

/*header*/  /*scusate l utilizzo di flexbox ma credo sia 1000 volte più semplice e responsive*/

.header{
    display: flex;
    background-color: #fff;
    height: 80px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 3rem;
}

.header img{
    max-height: 50px;
    max-width: 50px;
}

.header h1{
    display: inline-block;
    font-weight: 900;
    font-size: 46px;
}

/*Add-buttons styling*/
.add-buttons{
    display: flex;
    align-items: center;
}
.add-btn{
    background-color: #47ADF1;
    border: 2px solid #47ADF1;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
    margin-right: 0.3rem;
    color: #fff;
    font-weight: bold;

}
.add-btn2{
    background-color: #fff;
    border: 2px solid #DFE3E5;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
    margin-right: 0.3rem;
    color: #DFE3E5;
    font-weight: bold;
}
.add-btn2:hover{
    transition: 500ms;
    border: none;
    color: #fff;
    background-color:#8DCD64 ;
}
.add-btn:hover{
    transition: 500ms;
    border: none;
    color: #fff;
    background-color:#8DCD64 ;
}

/*styling of the sections*/

.section-container{
    margin-bottom: 2rem ;
    border: 2px solid black;
}

.checks li{
    font-weight: 500;
    font-size: 20px;
    margin-bottom:1rem;
    
}
.checks input{
    margin-right: 0.8rem;
}




